html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-style: normal;
    color: $dark-text;
    font-family: "TTHoves", "Halvetica", sans-serif;
    font-size: 16px;
    background-color: $main;
    font-style: normal;
    font-weight: 400;

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }
}

figure,
img,
svg {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1 {
    position: relative;
    z-index: 2;
    color: $white;
    font-weight: 500;
    letter-spacing: -0.03em;
    @include adaptive-value("font-size", 82, 41, 1);

    @media (max-width: 768px) {
        color: $light-grey;
    }
}

h2 {
    color: #020101;
    font-weight: 500;
    @include adaptive-value("font-size", 62, 32, 1);
    @include adaptive-value(" letter-spacing", -1.86, -0.96, 1);
}

h3 {
    color: #020101;
    font-weight: 500;
    @include adaptive-value("font-size", 32, 24, 1);
    @include adaptive-value(" letter-spacing", -0.96, -0.72, 1);
}

.swiper {
    overflow: visible;
}

._btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: #f2f2f2;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.54px;
    border-radius: 4px;
    border: 1px solid #666;

    transition: all 0.3s ease 0s;

    svg {
        width: 14px;
        height: 6px;
        transform: rotate(90deg);
        margin-left: 11px;
    }

    @media (max-width: 768px) {
        font-weight: 500;
    }

    &-orange {
        background-color: $orange;
        border: none;

        svg {
            fill: $white;
            stroke: $white;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #ff711a;
            }
        }
    }

    &-dark {
        color: $black;

        svg {
            transform: rotate(0deg);
        }
    }
}

._btn-social {
    border: 1px solid $white-30;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: $white;
        flex: 0 0 auto;
    }
}

._btn_tg {
    svg {
        width: 17px !important;
        height: 14px !important;
    }
}

._hover {
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            color: $orange;

            svg {
                fill: $orange !important;
            }
        }
    }

    &-white {
        @media (any-hover: hover) {
            &:hover {
                color: $white;
            }
        }
    }
}

._btn-hover {
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);

            svg {
                fill: $orange;
            }
        }
    }
}

._btn-dark-hover {
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: rgba(000, 000, 000, 0.1);
        }
    }
}

._desctop-show {
    @media (max-width: 768px) {
        display: none;
    }
}

._mobile-show {
    display: none !important;
    @media (max-width: 768px) {
        display: block !important;
    }
}

.slider-control {
    display: flex;
    align-items: center;
    gap: 11px;

    button {
        width: 56px;
        height: 56px;
        border: 1px solid $white-30;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.prev {
    svg {
        transform: rotate(180deg);
    }
}
.next {
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin-top: 16px;

    display: none;

    @media (max-width: 768px) {
        display: flex;
    }

    .swiper-pagination-bullet {
        background-color: #666;
        width: 8px;
        height: 8px;
        flex: 0 0 auto;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity 0.3s ease 0s;

        &.swiper-pagination-bullet-active {
            background-color: $orange;
        }
    }
}

.sidebar {
    flex: 0 0 auto;
    width: 207px;
    margin-right: 24px;

    @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
    }

    .sort {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;

        width: 100%;
        height: 48px;

        @media (min-width: 769px) {
            margin-bottom: 18px;
        }

        @media (max-width: 768px) {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        border-radius: 4px;
        border: 1px solid #666;

        color: $white;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.54px;

        svg {
            width: fit-content;
            fill: $white;
        }
    }
}

.category {
    & > :not(:last-child) {
        margin-bottom: 24px;
    }

    [data-open="open"] {
        button {
            & > :first-child {
                transform: translate(-50%, -50%) rotate(00deg);
            }
        }
    }

    [data-accordion-item-content] {
        padding-left: 34px;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-name {
        display: flex;
        align-items: center;
        gap: 12px;

        @media (any-hover: hover) {
            &:hover {
                button {
                    background-color: #ff711a;
                }
            }
        }

        button {
            width: 21px;
            height: 21px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $orange;
            position: relative;
            transition: all 0.3s ease 0s;

            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: $white;
                display: block;
                width: 9px;
                height: 1px;
            }

            & > :first-child {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }

        span {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.48px;
            transition: all 0.3s ease 0s;
            max-width: 174px;
            width: 100%;
        }
    }
}

.checkbox {
    position: relative;
    cursor: pointer;

    @media (any-hover: hover) {
        &:hover {
            span {
                color: $white;
            }
        }
    }
    span {
        color: $light-text;
        font-size: 14px;
        letter-spacing: -0.42px;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }

    // .checkbox__input

    &__input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
    }

    // input:checked + span {
    //     color: $white;
    // }
}

._links {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    li {
        a {
            display: block;
            background: #2e2e2e;
            transition: all 0.3s ease 0s;
            color: $light-text;
            font-size: 12px;
            padding: 9px 11px;
        }

        @media (any-hover: hover) {
            &:hover {
                a {
                    background-color: #4d4d4d;
                    color: $white;
                }
            }
        }
    }
}
