.form {
    & > :first-child {
        @include adaptive-value("margin-bottom", 35, 24, 1);
    }

    // .form__row

    &__row {
        display: flex;
        align-items: center;
        gap: 25px;
        width: 100%;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    // .form__item

    &__item {
        width: 100%;
        border-bottom: 1px solid $black-30;
        position: relative;

        input,
        textarea {
            height: 100%;
            padding-top: 12px;
            width: 100%;
            color: $black;
            font-size: 20px;
            display: block;

            @media (max-width: 768px) {
                font-size: 16px;
            }

            &._active,
            &:focus,
            &:active {
                + span {
                    font-size: 13px;

                    @media (max-width: 768px) {
                        font-size: 10px;
                    }
                }
            }
        }

        input {
            height: 51px;

            @media (max-width: 768px) {
                height: 41px;
            }
        }

        textarea {
            height: 85px;
            resize: none;
            padding-top: 18px;

            @media (max-width: 768px) {
                height: 81px;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                span {
                    font-size: 13px;

                    @media (max-width: 768px) {
                        font-size: 10px;
                    }
                }

                border-color: #020101;
            }
        }

        span {
            transition: all 0.3s ease 0s;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            color: rgba($color: $black, $alpha: 0.5);
            font-size: 20px;
            font-weight: 400;
            letter-spacing: -0.03em;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }

    ._textarea {
        @include adaptive-value("margin-bottom", 51, 33, 1);
    }

    // .form__button

    &__button {
        width: 100%;

        button {
            width: 100%;
            margin-bottom: 19px;
        }

        p {
            color: #aeaeae;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: -0.03em;
        }

        a {
            color: $black;
        }
    }

    // .form__img

    &__img {
        max-width: 841px;
    }
}
