.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 17;
    width: 100%;

    padding-top: 25px;
    color: $white;
    transition:
        background-color 0.3s ease 0s,
        padding-top 0.3s ease 0s,
        padding-bottom 0.3s ease 0s;

    &._sticky {
        background-color: #141315;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
        display: flex;
        align-items: center;
        width: 100%;
    }

    // .header__left

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1024px) {
            margin-right: auto;
        }
    }

    // .header__logo

    &__logo {
        @media (min-width: 1025px) {
            @include adaptive-value("margin-right", 98, -98, 1);
        }

        a {
            display: block;

            svg {
                flex: 0 0 auto;
                @include adaptive-value("width", 147, 86, 1);
                height: 23px;
                fill: $white;
                max-width: none;
            }
        }
    }

    .logo-desctop {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    .logo-mobile {
        @media (min-width: 1025px) {
            display: none;
        }

        width: 86px;
        height: 26px;
    }

    // .header__right

    &__right {
        @media (min-width: 1025px) {
            display: flex;
            width: 100%;
        }
    }

    // .header__social

    &__social {
        // .header__social-btns

        &-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;

            & > :first-child {
                svg {
                    @media (min-width: 1025px) {
                        left: 1px;
                    }
                }
            }

            a {
                width: 35px;
                height: 35px;

                @media (max-width: 768px) {
                    width: 40px;
                    height: 40px;
                }

                svg,
                img {
                    position: relative;
                    flex: 0 0 auto;
                    width: 14px;
                    height: 14px;

                    @media (max-width: 768px) {
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            ._btn_tg {
                svg {
                    width: 14px;
                    height: 12px;

                    @media (max-width: 768px) {
                        width: 18px;
                        height: 16px;
                    }

                    @media (min-width: 1025px) {
                        top: 1px;
                        right: 1px;
                    }
                }
            }
        }
    }

    // .header__phone

    &__phone {
        @include adaptive-value("margin-left", 26, -10, 1);
        @include adaptive-value("margin-right", 64, -50, 1);

        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 1024px) {
            display: none;
        }

        a,
        span {
            white-space: nowrap;
            display: block;
        }

        a {
            margin-bottom: 4px;
            @include adaptive-value("font-size", 20, 14, 1);
            font-weight: 500;
            letter-spacing: 0.6px;
        }

        span {
            color: $light-text;
            font-size: 13px;
        }
    }

    // .header__burger

    &__burger {
        @media (min-width: 1025px) {
            display: none;
        }
        margin-left: 21px;
        flex: 0 0 auto;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $orange;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
        }

        span {
            position: absolute;
            left: 50%;
            width: 15px;
            height: 1px;
            transform: translate(-50%, 0);
            background-color: $white;

            transition: all 0.3s ease 0s;
        }

        & > :first-child {
            top: 12px;
        }
        & > :nth-child(2) {
            top: calc(50%);
            transform: translate(-50%, -50%);
        }
        & > :last-child {
            bottom: 12px;
        }

        &._active {
            & > :first-child {
                top: calc(50%);
                transform: translate(-50%, -50%) rotate(45deg);
            }

            & > :nth-child(2) {
                opacity: 0;
            }

            & > :last-child {
                top: calc(50%);
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    ._btn {
        @include adaptive-value("width", 144, 50, 1);
        color: $white;

        @media (max-width: 1024px) {
            display: none;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: rgba($color: #666, $alpha: 0.1);
            }
        }
    }

    nav {
        margin-right: auto;

        @media (min-width: 1025px) {
            & > ul {
                display: flex;
                justify-content: center;
                min-height: 100%;

                @include adaptive-value("gap", 41, -21, 1);

                & > li {
                    display: flex;
                    align-items: center;
                    position: relative;
                    min-height: 100%;

                    @media (any-hover: hover) {
                        &:hover {
                            & > button svg {
                                transform: rotate(-180deg);
                            }

                            & > ul {
                                opacity: 1;
                                pointer-events: all;
                                visibility: visible;
                            }
                        }
                    }

                    &[data-open] {
                        & > button svg {
                            transform: rotate(-180deg);
                        }

                        & > ul {
                            opacity: 1;
                            pointer-events: all;
                            visibility: visible;
                        }
                    }

                    a {
                        white-space: nowrap;
                    }

                    button {
                        flex: 0 0 auto;
                        margin-left: 8px;
                    }

                    svg {
                        width: 6px;
                        height: 3px;
                        flex: 0 0 auto;
                        fill: $white;
                        transition: all 0.3s ease 0s;
                    }

                    & > ul {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #020202;
                        padding: 35px 0 27px 0;
                        width: 317px;
                        opacity: 0;
                        pointer-events: none;
                        visibility: hidden;

                        transition: all 0.3s ease 0s;

                        li {
                            transition: color 0.3s ease 0s;
                            display: flex;
                            align-items: center;
                            padding: 0 29px;

                            &:not(.menu-title) {
                                color: $light-text;

                                &:not(:last-child) {
                                    margin-bottom: 16px;
                                }

                                @media (any-hover: hover) {
                                    &:hover {
                                        color: $white;
                                    }
                                }
                            }

                            @media (any-hover: hover) {
                                &:hover {
                                    ul {
                                        transform: translate3d(0, 0, 0);
                                        opacity: 1;
                                        visibility: visible;
                                        pointer-events: all;
                                    }
                                }
                            }

                            &[data-open] {
                                ul {
                                    transform: translate3d(0, 0, 0);
                                    opacity: 1;
                                    visibility: visible;
                                    pointer-events: all;
                                }
                            }

                            svg {
                                transform: rotate(-90deg);
                                fill: currentColor;
                            }

                            ul {
                                position: absolute;
                                top: 0;
                                left: 100%;
                                min-height: 100%;
                                background-color: #0d0d0d;
                                padding: 35px 0 27px 0;
                                width: 317px;

                                transform: translate3d(-50px, 0, 0);
                                opacity: 0;
                                visibility: hidden;
                                pointer-events: none;
                                transition: all 0.3s ease 0s;

                                &:not(:last-child) {
                                    margin-bottom: 16px;
                                }

                                @media (any-hover: hover) {
                                    &:hover {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }

                    .menu-title {
                        &:not(:last-child) {
                            margin-bottom: 24px;
                        }

                        &:last-child {
                            margin-top: 24px;
                        }

                        font-size: 24px;
                        font-weight: 500;
                        line-height: 1;
                        letter-spacing: -0.03em;
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

body:has(.menu._open) header {
    background-color: #212023;
    padding-top: 10px;
    padding-bottom: 10px;
}
