._ticker {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: -1;
    @include adaptive-value("margin-top", 100, 50, 1);
    @include adaptive-value("margin-bottom", 100, 50, 1);

    @media (max-width: 992px) {
        transform: translate(0, -160%);
    }

    @media (max-width: 375px) {
        transform: translate(0, -175%);
    }

    @media (any-hover: hover) {
        &:hover {
            .ticker-text {
                animation-play-state: paused;
            }
        }
    }

    // ._ticker-text

    &-text {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            @include adaptive-value("width", 300, 200, 1);
            @include adaptive-value("height", 300, 200, 1);
            background: #f7f7f7;
            overflow: hidden;
            margin-right: 3px;

            color: #000;
            font-family: Inter;
            @include adaptive-value("font-size", 18, 12, 1);
            @include adaptive-value("line-height", 18, 12, 1);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
