$container: 1280;
$padding: 30;
$containerWithPadding: $container + ($padding * 2);
$black: #0a0b0f;
$accent: #1c54c7;
$accent-hover: #16439f;
$white: #fff;
$gray: #e6e7e7;
$light-gray: #fafafa;
$orange: #f0381f;
$dark-grey: #1b1c1e;
