$container: 1360;
$padding: 40;
$containerWithPadding: $container + ($padding * 2);
$main: #212023;
$text: #cccccc;
$dark-text: #292626;
$light-text: #b3b3b3;
$orange: #ff6201;
$black: #000000;
$black-30: rgba(
    $color: #000000,
    $alpha: 0.3
);
$white: #fff;
$white-30: rgba(
    $color: #fff,
    $alpha: 0.3
);
$dark-grey: #3d3d3d;
$light-grey: #f4f1e8;
$svg: #767470;
