.area-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }

    // .area-card__content

    &__content {
        display: flex;
        width: 50%;
        padding-top: 56px;
        padding-left: 39px;
        padding-right: 27px;
        padding-bottom: 27px;

        @media (max-width: 1024px) {
            flex-direction: column;
        }

        @media (max-width: 768px) {
            width: 100%;
            padding: 24px 16px;
        }
    }

    // .area-card__title

    &__title {
        margin-right: 20px;
        flex: 1 1 auto;

        @media (max-width: 1024px) {
            margin-right: 0px;
        }

        h3 {
            @include adaptive-value("margin-bottom", 47, 12, 1);

            @media (max-width: 768px) {
                br {
                    display: none;
                }
            }
        }

        a {
            display: flex;
            align-items: center;

            color: $black;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -0.54px;

            transition: all 0.3s ease 0s;

            @media (max-width: 768px) {
                display: none;
            }

            svg {
                flex: 0 0 auto;
                width: 14px;
                height: 6px;
                margin-left: 7px;
                transition: all 0.3s ease 0s;
                fill: $black;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: $orange;

                    svg {
                        fill: $orange;
                    }
                }
            }
        }
    }

    // .area-card__list

    &__list {
        width: 57.2%;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
            width: 100%;
        }

        @media (max-width: 768px) {
            margin-bottom: 0;
        }

        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 18, 3.5, 1);
        }

        li {
            position: relative;
            font-size: 16px;
            line-height: 1.2;
            padding-left: 12px;

            &:after {
                position: absolute;
                content: "";
                left: 0px;
                top: 50%;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                transform: translate(0, -50%);
                background-color: $dark-text;
            }
        }
    }

    // .area-card__img

    &__img {
        width: 50%;
        min-height: 100%;

        @media (max-width: 768px) {
            width: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.how-card {
    width: 100%;

    @media (min-width: 769px) {
        max-width: 294px;
    }

    @media (max-width: 768px) {
        display: flex;
        gap: 24px;
    }

    // .how-card__top

    &__top {
        @media (min-width: 769px) {
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            @include adaptive-value("gap", 58, 0, 1);
        }

        svg,
        img {
            width: 82px;
            height: 82px;
            object-fit: contain;

            @media (max-width: 768px) {
                width: 48px;
                height: 48px;
                flex: 0 0 auto;
                max-width: unset;
            }
        }
    }

    // .how-card__bottom

    &__bottom {
        span {
            display: block;
            color: $light-grey;
            @include adaptive-value("font-size", 32, 26, 1);
            @include adaptive-value("letter-spacing", -0.96, -0.6, 1);
            font-weight: 500;
            @include adaptive-value("margin-bottom", 16, 8, 1);
        }

        p {
            display: block;
            color: #b1b1b1;
            font-size: 14px;
            line-height: 1.2;
            letter-spacing: -0.42px;
        }

        a {
            color: $orange;
        }

        button {
            width: 140px;
            margin-top: 24px;
        }
    }
}

.example-card {
    display: block;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.29);

    position: relative;
    overflow: hidden;
    height: 100%;
    padding-bottom: 178%;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 75px;
        background: linear-gradient(180deg, #020101 0%, rgba(2, 1, 1, 0) 100%);
    }
    // .example-card__name

    &__name {
        position: absolute;
        left: 18px;
        top: 18px;
        display: flex;
        align-items: center;
        gap: 5.6px;
        z-index: 1;

        svg {
            width: 24px;
            height: 24px;
        }

        span {
            white-space: nowrap;
            color: $white;
            font-weight: 500;
            letter-spacing: -0.48px;
        }
    }

    // .example-card__image

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        video,
        img,
        iframe,
        picture {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.review-card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    overflow: hidden;
    height: 100%;

    border-radius: 4px;
    background-color: $light-grey;

    // .review-card__text

    &__text {
        margin-bottom: 16px;
        flex: 1 1 auto;
    }

    label {
        display: block;

        color: $black;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.72px;
    }

    img {
        margin: 16px 0;
        height: 14px;
        width: fit-content;
    }

    p {
        color: #292626;
        line-height: 1.3;
        font-weight: 400;
    }

    span {
        font-weight: 700;
    }
}

.gobo-card {
    display: block;
    position: relative;
    padding-bottom: 100%;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.projector-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 58px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $white;
    position: relative;
    height: 100%;

    @media (max-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    @media (max-width: 992px) {
        padding-top: 23px;
        padding-bottom: 34px;
        padding-left: 13px;
        padding-right: 25px;
    }

    // .projector-card__img

    &__img {
        width: 100%;

        @media (max-width: 768px) {
            width: 45%;
        }

        a {
            background-color: $white;
            display: block;
            width: 100%;
            position: relative;
            padding-bottom: 65%;

            @media (min-width: 769px) {
                @include adaptive-value("margin-bottom", 31, 0, 1);
            }

            @media (max-width: 768px) {
                padding-bottom: 100%;
            }

            img {
                height: 100%;
                object-fit: contain;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        ._replache {
            font-size: 10px;
            text-transform: uppercase;
            margin-bottom: 17px;

            @media (min-width: 769px) {
                display: none;
            }
        }
    }

    // .projector-card__info

    &__info {
        height: 100%;

        @media (min-width: 769px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            @include adaptive-value("padding-top", 53, 0, 1);
            border-top: 1px solid rgba($color: $black, $alpha: 0.1);
        }

        @media (max-width: 768px) {
            width: 52%;
        }
    }

    // .projector-card__name

    &__name {
        color: $black;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.72px;

        @media (max-width: 992px) {
            font-size: 18px;
            letter-spacing: -0.54px;

            br {
                display: none;
            }
        }
    }

    // .projector-card__characteristic

    &__characteristic {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $dark-grey;
        font-size: 16px;
        margin-top: 8px;
        flex: 1 1 auto;

        @media (max-width: 992px) {
            font-size: 12px;
        }

        @media (min-width: 769px) {
            margin-bottom: 27px;

            & > :not(:first-child) {
                display: none;
            }
        }

        @media (max-width: 768px) {
            line-height: 140%;
            margin-bottom: 20px;
            align-items: flex-start;
        }
        ._replache {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    // .projector-card__price

    &__price {
        color: $black;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.72px;

        @media (max-width: 768px) {
            margin-bottom: 24px;
        }

        del {
            margin-left: 7px;
            color: #666;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: -0.39px;

            @media (max-width: 768x) {
                margin-left: 5px;
            }
        }
    }

    // .projector-card__sign

    &__sign {
        position: absolute;
        z-index: 2;
        left: 12px;
        top: 12px;
        padding: 4px 7px;
        background-color: $orange;
        color: $white;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: -0.2px;
        text-transform: uppercase;
    }

    ._btn {
        height: 54px;

        @media (any-hover: hover) {
            &:hover {
                border: 1px solid $orange;
            }
        }
    }
}

.product-card {
    * {
        text-align: left;
    }

    border: 1px solid $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 38px;
    padding-left: 33px;
    padding-right: 33px;
    background-color: $white;
    position: relative;
    height: 100%;

    @media (max-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 4px;
        padding-top: 35px;
        padding-bottom: 34px;
        padding-left: 13px;
        padding-right: 25px;
    }

    // .product-card__img

    &__img {
        width: 100%;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
            width: 45%;
        }

        a {
            display: block;
            background-color: $white;
            margin-bottom: 28px;
            width: 100%;
            padding-bottom: 120%;
            position: relative;

            @media (max-width: 768px) {
                margin-bottom: 0;
                padding-bottom: 100%;
            }

            img {
                display: flex;
                object-fit: contain;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
    }

    // .product-card__info

    &__info {
        height: 100%;
        width: 100%;

        @media (min-width: 769px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
        }

        @media (max-width: 768px) {
            width: 52%;
        }
    }

    // .product-card__name

    &__name {
        display: block;

        color: $black;
        font-weight: 500;
        margin-bottom: 12px;
        margin-top: 10px;
        font-size: 22px;
        letter-spacing: -0.66px;

        @media (max-width: 768px) {
            margin-top: 0px;
            margin-bottom: 8px;
        }

        @media (max-width: 768px) {
            font-size: 18px;
            letter-spacing: -0.54px;
        }
    }

    // .product-card__descr

    &__descr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $dark-grey;
        flex: 1 1 auto;

        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 28px;
        font-size: 13px;

        @media (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 20px;
        }
    }

    ._replache {
        font-size: 10px;

        @media (max-width: 768px) {
            text-transform: uppercase;
            margin-bottom: 17px;
        }
    }

    // .product-card__price

    &__price {
        color: $black;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.72px;
        margin-bottom: 28px;
        white-space: nowrap;

        @media (max-width: 768px) {
            margin-bottom: 24px;
        }

        @media (max-width: 768px) {
            margin-bottom: 24px;
        }

        del {
            margin-left: 7px;
            color: #666;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: -0.39px;

            @media (max-width: 768x) {
                margin-left: 5px;
            }
        }
    }

    // .product-card__sign

    &__sign {
        position: absolute;
        z-index: 2;
        left: 12px;
        top: 12px;
        padding: 4px 7px;
        background-color: $orange;
        color: $white;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: -0.2px;
        text-transform: uppercase;
    }

    ._btn {
        height: 54px;
        width: 144px;
        border-color: $light-text;
        @media (any-hover: hover) {
            &:hover {
                border-color: $orange;
            }
        }
    }
}

.type-card {
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;

    @media (max-width: 1024px) {
        padding: 0;
    }

    @media (max-width: 768px) {
        flex-direction: row;
        gap: 22px;
        text-align: left;
    }

    img {
        width: 171px;
        height: 171px;

        @media (min-width: 1025px) {
            flex: 0 0 auto;
            object-fit: contain;
        }

        @media (max-width: 768px) {
            width: 107px;
            height: 107px;
        }
    }

    h3 {
        display: block;

        @media (min-width: 769px) {
            margin: 22px 0;
        }
        @media (max-width: 768px) {
            margin-bottom: 16px;
        }
    }

    span {
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: -0.03em;
    }
}

.slide-card {
    background-color: $white;
    border-radius: 4px;
    padding: 7px;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        display: flex;
        gap: 32px;
        padding: 11px 19px 22px 11px;
    }

    // .slide-card__img

    &__img {
        display: block;
        border-radius: 4px;
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;
        margin-bottom: 33px;

        @media (max-width: 768px) {
            width: 100%;
            padding-bottom: 50%;
            margin-bottom: 0;
        }

        @media (max-width: 425px) {
            flex: 0 0 auto;
            width: 151px;
            height: 151px;
            padding-bottom: 0;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .slide-card__info

    &__info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        @media (min-width: 769px) {
            padding: 0 17px 29px 17px;
        }

        @media (max-width: 768px) {
            padding-top: 18px;
        }

        div {
            display: flex;
            align-items: center;

            button,
            a {
                height: 54px;
                padding: 0 10px;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: -0.03em;
                color: $black;
                border-radius: 4px;
                width: 50%;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ._hover {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        ._btn-orange {
            color: $white;
        }
    }

    // .slide-card__name

    &__name {
        color: $main;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: -0.03em;
        flex: 1 1 auto;

        @media (max-width: 768px) {
            font-weight: 500;
            color: $black;
            font-size: 18px;
            line-height: 1.1;
        }
    }

    // .slide-card__pice

    &__pice {
        display: block;
        margin: 23px 0 28px 0;

        color: $black;
        font-size: 24px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.037em;

        @media (max-width: 768px) {
            margin: 10px 0 21px 0;
        }
    }
}

.service-card {
    padding-top: 19px;
    border-top: 1px solid #666;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
        gap: 0;
    }

    @media (max-width: 768px) {
        border: none;
        padding: 0;
    }

    // .service-card__info

    &__info {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;

        @media (max-width: 992px) {
            width: 100%;
        }

        h3 {
            @include adaptive-value("font-size", 38, 24, 1);
            color: $white;
            margin-bottom: 16px;

            @media (max-width: 992px) {
                margin-top: 16px;

                br {
                    display: none;
                }
            }
        }

        ._btn {
            width: 140px;
            height: 54px;

            @media (any-hover: hover) {
                &:hover {
                    border-color: $orange;
                }
            }

            @media (max-width: 1200px) {
                width: 177px;
            }
        }
    }

    // .service-card__img

    &__img {
        display: block;
        position: relative;
        width: 46%;
        padding-bottom: 37%;

        @media (max-width: 992px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            padding-bottom: 49%;
        }

        &:after {
            position: absolute;
            content: "";
            left: -19px;
            top: -4px;
            width: 100px;
            height: 158px;
            background-color: $orange;
            mix-blend-mode: plus-lighter;
            filter: blur(60px);
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.solutions-card {
    height: 280px;
    position: relative;
    border: 1px solid rgba($color: $white, $alpha: 0.3);
    background: #020101;
    overflow: hidden;

    h3 {
        color: $light-grey;
    }

    button {
        width: 183px;
    }

    img {
        opacity: 0.3;
        height: 100%;
        width: calc(100% + 95px);
        left: 95px;
        position: relative;
        object-fit: cover;
    }

    div {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index: 2;
        padding: 37px 40px;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 95px;
            width: 118px;
            height: 100%;
            background: linear-gradient(90deg, #020101 0%, rgba(2, 1, 1, 0) 100%);
            z-index: -1;
        }
    }
}

.about-card {
    letter-spacing: -0.03em;

    svg {
        flex: 0 0 auto;
    }

    h5 {
        display: block;
        margin-bottom: 15px;

        max-width: 345px;
        width: 100%;
    }

    label {
        display: block;
        @include adaptive-value("margin-bottom", 12, 7, 1);
        color: $white;
        @include adaptive-value("font-size", 74, 40, 1);
        font-weight: 500;
        line-height: 1;
    }

    p {
        display: block !important;
        color: $white;
        font-size: 20px;
        line-height: 1.3;
        @include adaptive-value("margin-bottom", 95, 41, 1);

        @media (max-width: 768px) {
            line-height: 1.2;
            font-size: 16px;
        }
    }

    span {
        color: rgba($color: $white, $alpha: 0.45);
    }

    ol {
        & > :not(:last-child) {
            margin-bottom: 12px;
        }
        li {
            max-width: 381px;
            width: 100%;
            color: $light-text;
        }
    }

    &._big-text {
        display: flex;
        align-items: center;
        min-height: 100%;

        p {
            margin: 0;
            @include adaptive-value("font-size", 44, 24, 1);

            line-height: 1.1;
            color: $light-text;

            span {
                color: $white;
            }
        }
    }

    // .about-card__flex

    &__flex {
        display: flex;

        @media (min-width: 1024px) {
            @include adaptive-value("gap", 56, 0, 1);
        }

        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &.about-card__same {
        height: fit-content;
        padding-top: 59px;
        padding-bottom: 72px;

        @media (max-width: 768px) {
            padding-top: 56px;
            padding-bottom: 56px;
        }

        h5,
        li {
            @media (max-width: 768px) {
                max-width: none;
            }
        }

        label {
            @media (min-width: 1025px) {
                @include adaptive-value("margin-bottom", 46, 22, 1);
            }

            @media (max-width: 1024px) {
                margin: 0;
            }

            @include adaptive-value("font-size", 62, 32, 1);
        }

        p {
            display: block;
            @include adaptive-value("margin-top", 21, 15, 1);
            margin-bottom: 0;
            color: $white;

            a {
                color: $orange;
            }
        }
    }

    &._payment-card {
        @media (max-width: 768px) {
            position: relative;

            &:after {
                position: absolute;
                content: "";
                left: -15px;
                bottom: 0;
                width: 100vw;
                height: 1px;
                background-color: #666;
            }
        }

        ol {
            li {
                position: relative;
                padding-left: 20px;
                &:after {
                    position: absolute;
                    content: "";
                    left: 8px;
                    top: 8px;
                    width: 3px;
                    height: 3px;
                    border-radius: 10px;
                    background-color: #666;
                }
            }
        }

        svg,
        img {
            width: 186px;
            height: 99px;
            object-fit: contain;

            @media (max-width: 1024px) {
                margin: 15px 0;
                width: 193px;
                height: 113px;
            }
        }
    }

    &._sdek-card {
        svg,
        img {
            width: 114px;
            height: 114px;
            object-fit: contain;

            @media (max-width: 1024px) {
                margin: 15px 0;
            }
        }
    }
}

.contact-card {
    max-width: 237px;

    h3 {
        color: $white;
        white-space: nowrap;
    }

    span {
        color: $white;
        line-height: 1.2;
        letter-spacing: -0.03em;
        display: block;
        margin: 12px 0;
    }

    label {
        color: rgba($color: $white, $alpha: 0.3);
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.03em;
        display: block;
    }

    .tel {
        display: block;
        margin: 22px 0 40px 0;
        color: $orange;
        font-size: 32px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.03em;
        white-space: nowrap;
    }

    ._btn {
        width: 231px;
        color: $white;
    }
}

.basket-card {
    display: flex;
    margin-bottom: 40px;

    @media (max-width: 992px) {
        margin-bottom: 45px;
    }

    // .basket-card__img

    &__img {
        width: 121px;
        height: 121px;
        border-radius: 4px;
        background-color: $white;
        padding: 12px 20px;
        margin-right: 30px;

        @media (max-width: 992px) {
            width: 80px;
            height: 80px;
            padding: 8px 13px;
            flex: 0 0 auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .basket-card__info

    &__info {
        @media (min-width: 993px) {
            max-width: 271px;
            width: 100%;
        }
    }

    // .basket-card__name

    &__name {
        display: block;
        margin-bottom: 21px;
        color: #020101;
        font-size: 22px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.03em;

        @media (max-width: 992px) {
            font-size: 18px;
        }
    }

    // .basket-card__price

    &__price {
        color: $black;
        font-size: 24px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.03em;

        @media (max-width: 992px) {
            font-size: 18px;
        }
    }
}
