.section {
    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__top

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @include adaptive-value("margin-bottom", 35, 24, 1);

        p {
            color: #b1b1b1;
            display: block;
            margin-top: 10px;
            letter-spacing: -0.48px;
        }

        @media (max-width: 992px) {
            h2 {
                br {
                    display: none;
                }
            }

            p {
                display: none;
            }

            .slider-control {
                display: none;
            }
        }
    }

    // .section__row

    &__row {
        // .section__row-item

        &-item {
        }
    }

    // .section__flex

    &__flex {
        display: flex;
        justify-content: space-between;

        // .section__flex-left

        &-left {
        }

        // .section__flex-right

        &-right {
        }

        // .section__flex-item

        &-item {
        }
    }
}

.page-top {
    @include adaptive-value("padding-top", 126, 76, 1);

    h1 {
        margin-bottom: 42px;
        @include adaptive-value("margin-bottom", 42, 30, 1);
    }
}

.page-works {
    @media (min-width: 769px) {
        @include adaptive-value("margin-top", 66, 0, 1);
    }

    h1 {
        @include adaptive-value("margin-bottom", 88, 43, 1);

        @media (min-width: 769px) {
            text-align: center;
        }
    }
}

.area {
    position: relative;
    z-index: 2;
    @include adaptive-value("margin-bottom", 96, 56, 1);

    .section__body {
        border-radius: 8px;
        background-color: $light-grey;
        @include adaptive-value("padding-top", 96, 48, 1);
        @include adaptive-value("padding-left", 42, 15, 1);
        @include adaptive-value("padding-bottom", 46, 56, 1);
        @include adaptive-value("padding-right", 42, 15, 1);

        @media (max-width: 768px) {
            border-radius: 0;
            width: 100vw;
            margin-left: -15px;
        }
    }

    .section__row {
        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 16, 24, 1);
        }
    }

    ._btn {
        @include adaptive-value("margin-top", 32, 19, 1);
        width: 100%;
    }
}

.how {
    @include adaptive-value("margin-bottom", 108, 44, 1);

    h2 {
        color: $light-grey;
        @include adaptive-value("margin-bottom", 67, 33, 1);
    }

    .grid {
        gap: 32px;
        margin-bottom: 0;

        @media (max-width: 1024px) {
        }
    }
}

.consulting {
    @include adaptive-value("margin-bottom", 96, 56, 1);

    h2 {
        color: #020101;

        @media (min-width: 993px) {
            @include adaptive-value("margin-bottom", 198, 24, 1);
        }

        @media (max-width: 992px) {
            margin-bottom: 24px;
            br {
                display: none;
            }
        }
    }

    .section__body {
        border-radius: 8px;
        background: $light-grey;
        padding: 53px 71px 51px 44px;

        @media (max-width: 992px) {
            border-radius: 0;
            width: 100vw;
            margin-left: -15px;
            padding: 48px 15px 59px 15px;
        }
    }

    .section__flex {
        align-items: flex-end;

        @media (max-width: 992px) {
            display: block;
            width: 100%;
        }
    }

    .section__flex-left {
        @media (max-width: 992px) {
            width: 100%;
            margin-bottom: 53px;
        }
    }

    .section__flex-right {
        width: 47.96%;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    form {
        @media (max-width: 992px) {
        }
    }

    .person {
        margin-bottom: 33px;
        display: flex;
        align-items: center;
        padding: 16px 56px 16px 16px;
        gap: 29px;
        width: fit-content;

        background-color: $white;

        @media (max-width: 992px) {
            margin-bottom: 0;
            padding: 10px 14px 16px 14px;
            width: 100%;
        }

        // .person__img

        &__img {
            img {
                width: 68px;
                height: 68px;
                object-fit: cover;

                @media (max-width: 992px) {
                    width: 52px;
                    height: 52px;
                }
            }
        }

        // .person__info

        &__info {
            h3 {
                margin-bottom: 2px;
                @include adaptive-value("font-size", 24, 20, 1);
            }

            span {
                display: block;
                color: $light-text;
                font-size: 16px;
            }
        }
    }
}

.example {
    @include adaptive-value("margin-bottom", 79, 56, 1);

    .section__top {
        @include adaptive-value("margin-bottom", 43, 24, 1);

        h2 {
            @media (min-width: 993px) {
                br {
                    display: none;
                }
            }
        }

        @media (max-width: 992px) {
            p {
                display: none;
            }

            .slider-control {
                display: none;
            }
        }
    }

    ._btn {
        margin-top: 34px;
        width: 100%;

        svg {
            transform: rotate(0);
        }

        @media (max-width: 768px) {
            margin-top: 54px;
        }
    }

    h2 {
        color: $light-grey;
    }

    &.work-examples {
        .section__top {
            p {
                display: none;
            }
        }
    }

    .swiper {
        // .swiper-slide

        &-slide {
            max-width: 298px;

            @media (max-width: 768px) {
                width: 186px;
            }
        }
    }
}

.review {
    @include adaptive-value("margin-bottom", 117, 55, 1);

    h2 {
        color: $light-grey;

        br {
            display: none;
        }

        @media (max-width: 768px) {
            br {
                display: block;
            }
        }

        a {
            color: $orange;
            position: relative;

            @media (any-hover: hover) {
                &:hover {
                    &:after {
                        max-width: 100%;
                    }
                }
            }

            &:after {
                transition: all 0.3s ease 0s;

                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                background-color: rgba($color: $orange, $alpha: 0.3);
                width: 100%;
                max-width: 0;
                height: 1px;
            }
        }
    }

    .swiper {
        // .swiper-slide

        &-slide {
            height: auto;
            max-width: 406px;
        }
    }
}

.black {
    position: relative;
    z-index: 2;

    .section__body {
        border-radius: 8px;
        background-color: #020202;
        padding: 76px 60px 71px 60px;

        @media (max-width: 992px) {
            width: 100vw;
            margin-left: -15px;
            padding: 28px 16px 60px 16px;
        }
    }

    .section__flex {
        align-items: center;

        @media (max-width: 768px) {
            display: block;
            align-items: flex-start;
        }
    }

    .section__flex-left {
        flex: 0 0 auto;
        margin-right: 40px;

        position: relative;

        @media (max-width: 768px) {
            margin-bottom: 31px;
            margin-right: 0;
        }

        button {
            position: absolute;
            bottom: 4px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 81px;
            height: 81px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $white;
            z-index: 2;

            @media (max-width: 992px) {
                width: 73px;
                height: 73px;
            }

            svg {
                width: 28px;
                height: 28px;
                flex: 0 0 auto;
                stroke: #414141;

                @media (max-width: 992px) {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    .section__flex-right {
        max-width: 687px;

        p {
            color: $white;
            font-size: 28px;
            font-weight: 300;
            line-height: 1.3;
            letter-spacing: -0.84px;

            @media (max-width: 992px) {
                font-size: 20px;
                font-weight: 400;
                letter-spacing: -0.6px;

                br {
                    display: none;
                }
            }

            a {
                font-weight: 500;

                @media (max-width: 992px) {
                    font-weight: 400;
                }
            }
        }
    }

    .section__bottom {
        @include adaptive-value("margin-top", 72, 21, 1);

        @media (min-width: 769px) {
            display: flex;
            align-items: center;
            position: relative;

            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
            padding: 31px 0;

            &:after {
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
                width: 1px;
                background-color: #333;
            }
        }

        @media (max-width: 768px) {
            & > :not(:last-child) {
                margin-bottom: 8px;
            }
        }

        a {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $white;
            font-size: 32px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.96px;
            white-space: nowrap;

            @media (max-width: 992px) {
                font-size: 18px;
                letter-spacing: -0.54px;
            }

            @media (max-width: 768px) {
                border: 1px solid #666;
                padding: 20px 0;
                border-radius: 4px;
            }

            svg {
                width: 14px;
                height: 6px;
                flex: 0 0 auto;
                margin-left: 15px;
            }
        }
    }

    // .black__img

    &__img {
        // .black__img-box

        &-box {
            & > :first-child {
                margin-right: -33px;
            }

            display: flex;
            align-items: center;
            justify-content: center;
        }

        // .black__img-item

        &-item {
            overflow: hidden;
            border-radius: 50%;
            border: 4px solid #1c1c1c;

            background-color: $orange;
            flex: 0 0 auto;

            img {
                width: 205px;
                height: 205px;

                @media (max-width: 768px) {
                    width: 185px;
                    height: 185px;
                }

                object-fit: cover;
            }
        }
    }
}

.gobo {
    @media (min-width: 993px) {
        padding-top: 251px;
        margin-top: -171px;
    }

    @media (max-width: 992px) {
        padding-top: 56px;
    }

    @include adaptive-value("padding-bottom", 96, 37, 1);
    background-color: $light-grey;

    ._btn {
        width: 100%;
    }

    .grid {
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.projector {
    @include adaptive-value("padding-bottom", 96, 56, 1);
    background-color: $light-grey;

    ._btn {
        width: 100%;
    }
}

.ticker {
    @include adaptive-value("padding-top", 96, 56, 1);
    @include adaptive-value("padding-bottom", 96, 56, 1);
    background-color: $orange;

    .section__row {
        & > :first-child {
            margin-bottom: 35px;

            @media (max-width: 992px) {
                margin-bottom: 15px;
            }
        }
    }

    h2 {
        color: $light-grey;
    }
}

.faq {
    @include adaptive-value("margin-top", 105, 56, 1);
    @include adaptive-value("margin-bottom", 96, 56, 1);

    .section__flex {
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    h2 {
        color: $light-grey;
    }

    span {
        color: $white;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: -0.6px;
    }

    p {
        color: $text;
        line-height: 1.2;
        padding-bottom: 29px;
        padding-top: 23px;
        padding-left: 37px;

        @media (min-width: 993px) {
            max-width: 724px;
            width: 100%;
        }
    }

    .accordeon__title {
        display: flex;
        align-items: center;
        padding: 23px 0;
        border-bottom: 1px solid #393939;

        button {
            margin-right: 15px;
            flex: 0 0 auto;
            width: 22px;
            height: 22px;
            position: relative;

            @media (any-hover: hover) {
                &:hover {
                    span {
                        background-color: $orange;
                    }
                }
            }

            & > :first-child {
                transform: rotate(90deg) translate(0, -50%);
            }

            span {
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                transition: all 0.3s ease 0s;
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #f2f2f2;
            }
        }
    }

    [data-open="open"] {
        button {
            & > :first-child {
                transform: rotate(00deg) translate(0, -50%);
            }

            span {
                background-color: $orange;
            }
        }
    }

    .section__flex-left {
        h2 {
            @media (min-width: 993px) {
                margin-bottom: 293px;
            }
        }

        button {
            width: 224px;

            @media (max-width: 992px) {
                width: 100%;
                margin-top: 26px;
            }
        }
    }

    .section__flex-right {
        @media (min-width: 993px) {
            width: 72.21%;
        }
    }

    ._mobile-show {
        color: #999;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.42px;

        @media (max-width: 992px) {
            display: block;
            padding: 0;
            margin: 16px 0;
        }
    }
}

.big-form {
    @include adaptive-value("margin-bottom", 84, 56, 1);

    h2 {
        color: #020101;
        @include adaptive-value("margin-bottom", 57, 44, 1);
    }

    .section__body {
        position: relative;
        border-radius: 8px;
        background: $light-grey;
        padding: 77px 71px 69px 44px;

        @media (max-width: 992px) {
            border-radius: 0;
            width: 100vw;
            margin-left: -15px;
            padding: 56px 15px 56px 15px;
        }
    }

    .section__flex {
        align-items: flex-end;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
    }

    .section__flex-left {
        position: absolute;
        top: 0;
        @include adaptive-value("left", 0, -200, 1);

        @media (max-width: 992px) {
            display: none;
        }
    }

    .section__flex-right {
        margin-left: auto;
        width: 47.96%;

        @media (max-width: 992px) {
            width: 100%;
        }
    }
}

.slides {
    @include adaptive-value("padding-top", 126, 76, 1);
    @include adaptive-value("margin-bottom", 70, 48, 1);

    .secton__top {
        @include adaptive-value("margin-bottom", 95, 31, 1);
    }

    .section__flex {
        @media (max-width: 992px) {
            display: block;
        }
    }

    .section__flex-left {
        color: $white;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.03em;

        @media (min-width: 993px) {
            @include adaptive-value("font-size", 52, 0, 1);
            margin-right: 100px;
            max-width: 542px;
            width: 100%;
        }

        @media (max-width: 992px) {
            font-size: 24px;
            max-width: 345px;
            width: 100%;
            margin-bottom: 39px;
        }

        p {
        }

        span {
            color: #999;
        }
    }

    .section__flex-right {
        color: $white;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: -0.03em;
        counter-reset: counter;

        @media (min-width: 1025px) {
            width: 49.4%;
        }

        @media (max-width: 1024px) {
            width: 100%;
            font-size: 16px;
            line-height: 1.4;
        }

        li {
            position: relative;
            counter-increment: counter;
            padding-left: 65px;

            &:after {
                position: absolute;
                content: "" counter(counter);
                left: 0;
                top: 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                flex: 0 0 auto;
                width: 44px;
                height: 44px;
                border: 1px solid #d9d9d9;
                border-radius: 50%;
            }
        }

        & > :not(:last-child) {
            margin-bottom: 16px;
        }

        a {
            color: $orange;
            text-decoration-line: underline;
        }
    }
}

.type {
    h2 {
        @include adaptive-value("margin-bottom", 73, 28, 1);
    }
    .section__body {
        background-color: $light-grey;
        padding: 53px 28px 86px 53px;

        @media (max-width: 992px) {
            width: 100vw;
            margin-left: -15px;
            padding: 56px 29px 56px 15px;
        }
    }
}

.why {
    .section__body {
        background-color: $black;

        @media (min-width: 993px) {
            @include adaptive-value("padding-top", 74, 56, 1);
            @include adaptive-value("padding-bottom", 107, 56, 1);
            @include adaptive-value("padding-left", 117, -50, 1);
            @include adaptive-value("padding-right", 42, 0, 1);
        }

        @media (max-width: 992px) {
            width: 100vw;
            margin-left: -15px;
            padding: 56px 60px 56px 15px;
        }
    }

    .section__flex {
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    h2 {
        color: $light-grey;
        white-space: nowrap;
        @media (min-width: 993px) {
            @include adaptive-value("margin-right", 120, -100, 1);
        }

        @media (max-width: 992px) {
            margin-bottom: 27px;
            br {
                display: none;
            }
        }
    }

    ol {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 27px;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        li {
            display: flex;
            flex-direction: column;

            @media (min-width: 769px) {
                max-width: 202px;
                width: 100%;
            }

            @media (max-width: 768px) {
                flex-direction: row;
            }

            svg {
                flex: 0 0 auto;
                width: 76px;
                height: 76px;
                stroke: $orange;
                fill: none;
                margin-bottom: 25px;

                @media (max-width: 768px) {
                    margin-bottom: 0;
                    margin-right: 22px;
                }
            }

            p {
                color: $white;
                font-size: 20px;
                line-height: 1.3;
                letter-spacing: -0.03em;
            }
        }
    }
}

.slide {
    @include adaptive-value("margin-bottom", 80, 48, 1);

    h2 {
        color: $light-grey;
        @include adaptive-value("margin-bottom", 59, 39, 1);
    }

    .grid-4 {
        @media (max-width: 1200px) and (min-width: 769px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.slide-tabs {
    border-bottom: 1px solid #666;
    @include adaptive-value("margin-bottom", 31, 8, 1);

    @media (max-width: 600px) {
        overflow-y: auto;
        width: 100vw;
        margin-left: -15px;
        padding: 0 15px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    ol {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;

        @media (max-width: 600px) {
            width: fit-content;
            gap: 15px;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            color: $white;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.03em;
            cursor: pointer;
            padding: 0 10px 20px 10px;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                background-color: $orange;
                height: 3px;
                width: 100%;
                pointer-events: none;
                z-index: 1;
                opacity: 0;
                transition: all 0.3s ease 0s;
            }

            &._active:before {
                opacity: 1;
            }

            @media (max-width: 600px) {
                flex: 0 0 auto;
                white-space: nowrap;

                @include adaptive-value("min-width", 150, 130, 1);
            }
        }
    }
}

.orange {
    @include adaptive-value("margin-bottom", 80, 56, 1);

    h2 {
        color: $light-grey;
    }

    .section__body {
        padding: 42px 105px 76px 46px;
        background-color: $orange;

        @media (max-width: 992px) {
            width: 100vw;
            margin-left: -15px;
            padding: 56px 15px 49px 15px;
        }
    }

    .section__flex {
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .section__flex-left {
        display: flex;

        @media (min-width: 993px) {
            gap: 19px;
        }

        @media (max-width: 992px) {
            align-items: center;
            flex-direction: column;
            gap: 12px;
        }

        svg {
            width: 94px;
            height: 94px;
            flex: 0 0 auto;
        }
    }

    .section__flex-right {
        @media (min-width: 993px) {
            width: 39.27%;
        }

        p {
            display: block;
            @include adaptive-value("margin-bottom", 48, 37, 1);

            color: $white;
            font-size: 20px;
            line-height: 1.3;
            letter-spacing: -0.03em;

            @media (max-width: 992px) {
                margin-top: 46px;
                font-size: 16px;
                line-height: 1.2;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 11px;

            @media (max-width: 992px) {
                flex-direction: column;
            }

            button {
                width: 100%;
            }
        }
    }
}

.services {
    @include adaptive-value("padding-top", 126, 76, 1);
    @include adaptive-value("margin-bottom", 109, 56, 1);

    h1 {
        @include adaptive-value("margin-bottom", 69, 26, 1);
    }

    .section__top {
        display: block;
    }

    .section__bottom {
        border-top: 1px solid #666;
        padding-top: 34px;

        h4 {
            color: $white;

            font-size: 52px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.03em;

            @media (max-width: 1240px) {
                font-size: 32px;

                br {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                br {
                    display: block;
                }
            }
        }

        p {
            color: rgba($color: $white, $alpha: 0.3);
            display: block;
            margin-top: 16px;
            margin-bottom: 50px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.03em;

            @media (max-width: 768px) {
                font-size: 14px;
                margin-bottom: 16px;
            }
        }

        button {
            width: 140px;
            color: $white;

            @media (max-width: 992px) {
                width: 177px;
            }
        }

        .section__flex {
            gap: 20px;

            @media (max-width: 992px) {
                flex-direction: column-reverse;
                gap: 16px;
            }
        }

        .section__flex-left {
            @media (min-width: 993px) {
                max-width: 452px;
                width: 100%;
            }

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        .section__flex-right {
            background-color: $orange;
            width: 100%;

            @media (min-width: 993px) {
                min-height: 100%;
            }

            @media (max-width: 992px) {
                height: 340px;
            }

            @media (max-width: 425px) {
                height: 181px;
            }

            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .grid-2 {
        gap: 24px 56px;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 1300px) {
            gap: 24px;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }
}

.solutions {
    @include adaptive-value("padding-top", 110, 56, 1);
    @include adaptive-value("padding-bottom", 96, 56, 1);
    background-color: #020202;

    .section__top {
        @include adaptive-value("margin-bottom", 41, 18, 1);
    }

    h2 {
        color: $light-grey;
    }

    .swiper {
        overflow: hidden;

        // .swiper-slide

        &-slide {
            max-width: 437px;

            @media (max-width: 768px) {
                width: 345px;
            }
        }
    }
}

.details {
    @include adaptive-value("margin-bottom", 189, 56, 1);

    @media (min-width: 993px) {
        border-bottom: 1px solid #666;
        padding-bottom: 80px;
    }

    h2 {
        color: $light-grey;

        @media (max-width: 992px) {
            margin-bottom: 8px;
        }
    }

    .section__flex {
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    h2 {
    }

    @media (max-width: 1024px) {
        width: 100%;
        font-size: 16px;
        line-height: 1.4;
    }

    ol {
        display: flex;
        flex-direction: column;
        counter-reset: counter;

        @media (min-width: 1025px) {
            width: 49.4%;
        }

        @media (min-width: 993px) {
            width: 47%;
        }

        & > :not(:last-child) {
            margin-bottom: 16px;
        }

        li {
            position: relative;
            counter-increment: counter;
            padding-left: 15px;

            &:after {
                position: absolute;
                content: counter(counter) ".";
                left: 0;
                top: 4px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;

                @media (max-width: 992px) {
                    top: 0;
                }
            }

            p {
                color: $white;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.3;
                letter-spacing: -0.03em;

                @media (max-width: 992px) {
                    font-size: 16px;
                }
            }
        }
    }
}

.contacts {
    @include adaptive-value("padding-top", 126, 76, 1);
    @include adaptive-value("margin-bottom", 117, 64, 1);

    h1 {
    }

    p {
        @include adaptive-value("margin-top", 47, 18, 1);
        @include adaptive-value("margin-bottom", 40, 64, 1);

        color: #999;
        @include adaptive-value("font-size", 38, 24, 1);
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.03em;
    }

    .grid {
        @media (min-width: 1201px) {
            @include adaptive-value("gap", 49, -10, 1);
        }

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }

        & > :not(:last-child) {
            border-right: 1px solid #333333;

            @media (max-width: 1200px) {
                border-right: 0;
            }

            @media (max-width: 600px) {
                border-bottom: 1px solid #333333;
                padding-bottom: 44px;
            }
        }

        &-item {
        }
    }
}

.map {
    .iframe {
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        img,
        iframe {
            display: block;
            width: 100%;
            height: 583px;
            object-fit: cover;

            @media (max-width: 768px) {
                height: 334px;
            }
        }
    }
}

.error-404-main {
    display: flex;
    flex-direction: column;
}

.error-404 {
    overflow: hidden;
    position: relative;
    @include adaptive-value("padding-top", 148, 74, 1);
    min-height: 100%;
    width: 100%;
    flex: 1 1 auto;

    .section__body,
    .section__content {
        min-height: 100%;
    }

    @media (min-width: 993px) {
        &:after {
            position: absolute;
            content: "";
            right: -70px;
            top: 149px;
            width: 221px;
            height: 221px;
            fill: #ff6201;
            background-color: $orange;
            filter: blur(97px);
        }

        &:before {
            position: absolute;
            content: "";
            left: -58px;
            bottom: -116px;
            width: 221px;
            height: 221px;
            fill: #ff6201;
            background-color: $orange;
            filter: blur(97px);
        }
    }

    h1 {
        @include adaptive-value("margin-bottom", 34, 15, 1);
        text-align: center;
        @include adaptive-value("font-size", 52, 49, 1);
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.03em;
    }

    p {
        color: $white;
        @include adaptive-value("margin-bottom", 47, 43, 1);
        text-align: center;
    }

    span {
        color: $light-grey;
        font-size: 300px;
        @include adaptive-value("font-size", 500, 204, 1);
        line-height: 1;
        letter-spacing: -0.05em;
        filter: blur(7px);

        @media (max-width: 992px) {
            filter: blur(4.7px);
        }
    }

    a {
        width: 275px;
        position: relative;
        z-index: 1;

        @media (max-width: 425px) {
            width: 100%;
        }
    }

    img {
        position: absolute;
        z-index: 2;
        @include adaptive-value("width", 673, 347, 1);
        object-fit: cover;
        left: 50%;
        transform: translate(-50%, 0);

        @include adaptive-value("bottom", -80, 0, 1);
    }

    .section__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
