@font-face {
	font-family: TTHoves;
	font-display: swap;
	src: url("../fonts/TT-Hoves-Pro-Medium.woff2") format("woff2"), url("../fonts/TT-Hoves-Pro-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTHoves;
	font-display: swap;
	src: url("../fonts/TT-Hoves-Pro-Regular.woff2") format("woff2"), url("../fonts/TT-Hoves-Pro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
